@using Web_Projekt_TE15C_2.Models
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>IGEN | Log in</title>
        <link rel="icon" type="image/png" href="~/Content/img/tabicon.png">
        @Styles.Render("~/Content/Site.css")
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    </head>
    <body>
        <div id="container">
            <a id="a1" href="~/Views/Home/Index.cshtml"><img id="logo" src="~/Content/img/IGEN_red.png" alt="logo" /></a>
            <a id="a2" href="~/Views/Home/Index.cshtml"><p><i class="fa fa-home" aria-hidden="true"></i>Home</p></a>
            <a id="a3" href="~/Views/Magazine/Magazine.cshtml"><p><i class="fa fa-book" aria-hidden="true"></i>The Magazine</p></a>
            <a id="a33" href="#"><p>More<i class="fa fa-angle-double-down" aria-hidden="true"></i></p></a>
            <a id="a4" href="#"><p><i id="topsearch" class="fa fa-search" aria-hidden="true"></i>Search</p></a>
            <p id="a5"><a href="~/Account/Login">Log in</a><br /><a href="register.html">Register</a></p>
            <i id="a6" class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div id="search">
            <input type="text">
        </div>
        <div id="more">
            <a id="m1" href="about.html"><p>About Us</p></a>
            <a id="m2" href="contact.html"><p>Contact</p></a>
            <a id="m3" href="press.html"><p>Press</p></a>
        </div>
        <h1 id="logintop">Log in to IGEN</h1>
        <hr id="logintophr">

        <form id="loginform">
            <!-- what is commented out is the styalized version of the loginform
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    <label for="email">Email: </label>
    <input id="email" type="text" />
    <label for="password">Password: </label>
    <input id="password" type="text" />
    <input id="submit" type="submit" value="Log in    " />
    }-->
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                }
            </section>

        </form>
        <i id="loginicon" class="fa fa-sign-in" aria-hidden="true"></i>
        <hr id="articlehr">
        <div id="socialmedia">
            <p>Visit us on social media</p>
            <a id="spa1" href="https://facebook.com"><img src="images/facebook.png" alt="facebook" /></a>
            <a id="spa2" href="https://twitter.com"><img src="images/twitter.png" alt="facebook" /></a>
            <a id="spa3" href="https://instagram.com"><img src="images/instagram.png" alt="facebook" /></a>
            <a id="spa4" href="https://youtube.com"><img src="images/youtube.png" alt="facebook" /></a>
        </div>
        <div id="footer">
            <img id="footerlogo" src="images/IGEN_red_text.png" alt="logo" />
            <p id="fp1"><a href="index.html">Home</a> <span class="whitedot">•</span> <a href="tos.html">Terms of Use</a> <span class="whitedot">•</span> <a href="contact.html">Contact Us</a></p>
            <p id="fp2"><a href="about.html">About Us</a> <span class="whitedot">•</span> <a href="copyright.html">Copyright</a> <span class="whitedot">•</span> <a href="tip.html">Tip Us</a></p>
            <p id="fp3">© 2018 - Ingenious Gamer & Electronics News</p>
        </div>

        <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
